body{
    background-color: #a7dbd8;
}
.header{
    background-color: #69d2e7;
    width: 101.5%;
    height: 15%;
    position: relative;
    top: -10px;
    right: -10px;
    left: -10px;

}
.portofolio{
    font-size: 60px;
    margin: auto;
    padding-left: 50px;
}
.footer{
    background-color: #69d2e7;
    width: 100.6%;
    height: 65px;
    position: absolute;
    left: -10px;
}
.desain{
    font-size: 15px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 25px;
}
.gambar{
    background-color: #e0e4cc;
    width: 400px;
    height: 430px;
    position: relative;
    margin-top: -10px;
    left: -10px;
}
.fotodiri{
    width: 140px;
    height: 230px;
    position: relative;
    left: 143px;
    top: 50px;
}
.nama{
    position: relative;
    text-align: center;
    top: 50px;
}
.freelancer{
    color: #ea00ff;
}
.tentang{
    position: relative;
    bottom: 100px;
}
.kontak{
    font-size: medium;
    position: relative;
    left: 650px;
    text-decoration: none;
}
.tentang1{
    font-size: medium;
    position: relative;
    left: 500px;
    text-decoration: none;
}
.karya{
    font-size: medium;
    position: relative;
    left: 550px;
    text-decoration: none;
}
.produk{
    font-size: medium;
    position: relative;
    left: 600px;
    text-decoration: none;
}
.form{
    position: relative;
    top: 80px;
    right: 580px;
}